<!DOCTYPE html>
<html lang="en" xmlns:filter="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" language="javascript" src="jquery-1.8.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Binge</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/dashboard.css" rel="stylesheet">

    <script>

        var app = angular.module('myApp', []);
        app.controller('userCtrl', function($scope) {

            $scope.user = data;
            $scope.sortName = 'username'; //default sort type - name
            $scope.sortReserve = false; //default sort order
            $scope.searchRecord = ""; //default search term

            $scope.removeRow = function (username) {
                var index = -1;
                var comArr = eval($scope.user);
                for (var i = 0; i < comArr.length; i++) {
                    if (comArr[i].username === username) {
                        index = i;
                        break;
                    }
                }
                if (index === -1) {
                    alert("Something gone wrong");
                }
                $scope.user.splice(index, 1);
            };
        });
    </script>

</head>
<style>
    body {
        font: 400 15px Lato, sans-serif;
        line-height: 1.8;
        color: #818181;
    }
    h1{
        font-size: 30px;
        text-transform: uppercase;
        color: #006600;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .navbar {
        margin-bottom: 0;
        background-color: #006600;
        z-index: 9999;
        border: 0;
        font-size: 12px !important;
        line-height: 1.42857143 !important;
        letter-spacing: 4px;
        border-radius: 0;
        font-family: Montserrat, sans-serif;
    }
    .navbar li a, .navbar .navbar-brand {
        color: #fff !important;
    }
    .navbar-nav li a:hover, .navbar-nav li.active a {
        color: #006600 !important;
        background-color: #fff !important;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
        color: #fff !important;
    }
    .nav-item {
        color: #fff !important;
    }
    h2 {
        font-size: 24px;
        text-transform: uppercase;
        color: #303030;
        font-weight: 600;
        margin-bottom: 30px;
    }
    h4 {
        font-size: 19px;
        line-height: 1.375em;
        color: #303030;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .jumbotron {
        background-color: #006600;
        color: #fff;
        padding: 25px 25px;
        font-family: Montserrat, sans-serif;
    }
</style>



<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation"></button>
    <a class="navbar-brand" href="/admin/home">BINGE WebApp</a>
    <div id="navbar">
        <nav class="nav navbar-nav float-xs-left">
            <a class="nav-item nav-link" href="/admin/home">Dashboard</a>
            <a class="nav-item nav-link" href="#">Profile</a>
            <a class="nav-item nav-link" href="#">Contact</a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
        </nav>
        <form class="float-xs-right">
            <input type="text" class="form-control" placeholder="Search...">
        </form>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <img src="/UNCC_Logo.png" width="200" height="200" class="img-fluid" align="middle" alt="Add Patient">
        </div>
        <div class="col-sm-4"></div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="main">
            <h1 class="text-lg-center">Dashboard</h1>

            <div class="row placeholders">
                <div class="col-xs-4 col-sm-4 placeholder">
                    <a href="/add/user">
                        <img src="/patient.png" width="300" height="300" class="img-fluid" alt="Add Patient">
                    </a>
                    <span class="text-muted"><h4>Add Patient</h4></span>
                </div>
                <div class="col-xs-4 col-sm-4 placeholder">
                    <a href="/add/supporter">
                        <img src="/supporter.png" width="300" height="300" class="img-fluid" alt="Supporter">
                    </a>
                    <span class="text-muted"><h4>Add Supporter</h4></span>
                </div>
                <div class="col-xs-4 col-sm-4 placeholder">
                    <a href="/appointments">
                        <img src="/appointment.png" width="300" height="300" class="img-fluid" alt="Appointments">
                    </a>
                    <span class="text-muted"><h4>Appointments</h4></span>
                </div>
            </div>
            <div>
                <h2>Patient Table</h2>

                <div class="table-responsive" ng-app="myApp" ng-controller="userCtrl">

                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" class="form-control" placeholder="Search Record" ng-model="searchRecord">
                            </div>
                        </div>
                    </form>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>
                                <a href="#" ng-click="sortType = 'username'; sortReverse = !sortReverse">
                                    User Name
                                    <span ng-show="sortType == 'username' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'username' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'supporter'; sortReverse = !sortReverse">
                                    Supporter
                                    <span ng-show="sortType == 'supporter' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'supporter' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>Appointment</th>
                            <th>
                                <a href="#" ng-click="sortType = 'notification'; sortReverse = !sortReverse">
                                    Notification
                                    <span ng-show="sortType == 'notification' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'notification' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in myData | orderBy:sortType:sortReverse | filter:searchRecord">
                            <td>{{ x.username }}</td>
                            <td>{{ x.supporter }}</td>
                            <td><a ng-href="/appointment?username={{ x.username}}">Schedule Appointment</a>
                            <td>{{ x.notification }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
<script src="/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/holder.min.js"></script>
</body>
</html>
